.finish {
  width: 100%;
  padding: 50px 80px;
  background-color: #fff1c2;
  border: 1px solid #2d303a;
  border-radius: 5px;
  text-align: center;

  &__congratulation {
    font-size: 30px;
  }

  &__score {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px dashed #2d303a;
  }

  &__button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #2d303a;
    border-radius: 5px;
    outline: none;
    background-color: #0ed329;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      transition: 0.5s;
    }
  }
}
